* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: linear-gradient(to right, rgb(1 10 22), rgb(1 33 42), #03848f);
}

.container {
  display: grid;
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

.container > .calc {
  background-color: rgb(1 33 42);
  /* box-shadow: 0 0 15px #000; */
  display: grid;
  padding: 1rem;
  border-radius: 8px;

  width: 300px;
}

.container > .calc > .content {
  display: grid;
}

.container > .calc > .content > .output {
  background-color: #fff;
  width: 100%;
  height: 8rem;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding-right: 1em;
  margin-bottom: 1em;

  word-wrap: break-word;
  word-break: break-all;
}

.container > .calc > .content > .output > .previous-operand {
  font-size: 1.2rem;
}

.container > .calc > .content > .output > .current-operand {
  font-size: 2em;
}

.container > .calc > .content > .group-button {
  display: grid;
  grid-template-columns: repeat(4, 67px);
  grid-template-rows: repeat(5, 67px);

  border: none;
}

.container > .calc > .content > .group-button > button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  outline: none;
  background-color: #111;
  color: #eee;
}

.container > .calc > .content > .group-button > button:hover {
  background-color: white;
  color: #000;
}

.container > .calc > .content > .group-button > .operator {
  background-color: #03848f;
}

.container > .calc > .content > .group-button .span-two {
  grid-column: span 2;
}
